---
import Layout from '../../../layouts/Layout.astro'
import { Navbar } from '../../../components/Navbar.jsx'
import { Article } from '../../../components/Article.jsx'
import { Footer } from '../../../components/Footer.jsx'
import blog1 from '../../../assets/images/blog1.jpg'
import '../../../styles/Theme.css'
import { ScrollUpButton } from '../../../components/ScrollUpButton'

const articleData = {
  title: "Machine Learning",
  subtitle: "Enhanced Predictive Modeling of ATP Tennis Outcomes Using Custom Elo Rating and Multi-Machine Learning Models",
  date: "May 12, 2025",
  image: blog1.src,
  content: `
    <p>We utilise a custom comprehensive framework for predictive analytics in men’s professional tennis, utilizing ATP match data from 2010 to 2024 to forecast match outcomes and uncover player performance patterns. Our approach integrates rigorous data preprocessing, innovative feature engineering, and a customized TennisElo rating system tailored to tennis dynamics. We employ thorough data cleaning to ensure dataset integrity, exploratory data analysis (EDA) to identify key trends, and symmetric data augmentation with differential features to capture competitive nuances.</p>
    <p>An essential element within our research is the development of a custom Elo-based rating algorithm, termed 'TennisElo', adapted specifically for tennis match prediction. The Elo rating system, traditionally used to rank chess players, provides a comparative predictive framework that quantifies player skill levels based on past performance. We modified this traditional Elo approach to better reflect the dynamics of tennis, redefining parameters such as initial ratings, K-factors (adjustment magnitudes), and contextual factors specific to tennis.</p>
    <p>We constructed differential features, capturing the relative skill gap between players. This approach simplifies the feature space, enabling the model to focus on match-level dynamics rather than player identity. </p><br/>
    <div class="text-white text-2xl mb-4">Machine Learning Models</div>
    <p></p>
    <p>We implemented a multi-layer perceptron (MLP) classifier using scikit-learn's Multi-Layer Perceptron, systematically evaluating four different activation functions: ReLU, tanh, logistic, and identity. Each activation function introduces a distinct form of non-linearity, enabling the model to learn complex decision boundaries.</p>
    <p>By integrating AI and ML, analysts can better understand trends, player archetypes, and system inefficiencies. This integration not only fosters innovation but also drives growth by enabling data-driven decision-making.</p><br/>
    <div class="text-white text-2xl mb-4">Future Trends in AI</div>
    <p>The future of business analytics is poised to be heavily influenced by advancements in AI and Machine Learning. Predictive analytics, powered by these technologies, will enable businesses to foresee market changes and adapt proactively. This predictive capability is crucial for startups and financial institutions aiming to stay ahead of the curve.</p>
    <p>Moreover, the rise of AI-driven automation will lead to more efficient and accurate data processing, reducing the margin of error and improving overall productivity. As algorithms become more advanced, the potential for AI and ML to uncover hidden patterns and trends will only grow.</p>
    <p>Stay tuned as we continue to explore the evolving landscape of AI and its transformative impact on business analytics and financing.</p>
  `,
  //footer: "~ Agriya Yadav & Aayan Jain"
}
---

<Layout title={articleData.title}>
  <Navbar client:load />
  <Article articleData={articleData} />
  //<Footer />
  <ScrollUpButton client:load />
</Layout>
